/*Inicio CSS*/
* {
  margin: 2px;
  padding: 2px; }

*::after {
  box-sizing: border-box; }

header {
  color: #198754; }

.col:hover {
  background-color: var(--bs-success); }

.grid1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: groove;
  border: 3px solid black;
  background-color: #198754; }
  .grid1 #nombres {
    width: 33%;
    height: 33%; }
  .grid1 #mail {
    width: 33%;
    height: 33%; }
  .grid1 #texto {
    width: 33%;
    height: 33%; }

footer {
  display: grid;
  position: relative;
  align-content: center; }

.google {
  display: grid;
  align-items: center; }

.h3 {
  font-size: 25px;
  margin: 5px;
  padding: 5px; }

.h5 {
  border-style: groove;
  border: 1px  solid white;
  margin: 5px;
  padding: 5px;
  color: white; }

.cuadros {
  margin-top: 50px;
  padding: auto;
  display: grid;
  grid-template-columns: auto, auto, auto;
  grid-template-rows: auto, auto, auto;
  justify-content: space-between; }
  .cuadros .box- {
    width: auto;
    height: auto;
    background-color: green;
    color: white, arial;
    background-color: #0c0b0b; }

.ms-md-33 {
  margin-right: 1rem !important; }

.clear::after {
  display: block;
  clear: left;
  content: "";
}

.primer{
  margin: 2%;
  padding: 2%;
}

.bajo{
  align-content: flex-start;
}